.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.container img {
  border: 1px solid red;
  margin: 0 auto;
}

.list img {
  display: inline-block;
  margin: 10px;
}
